matplotlib
networkx 
streamlit
pandas
numpy==1.26.4
networkx
matplotlib
requests
plotly
scikit-learn
tqdm
seaborn
yfinance

simulated-bifurcation
torch

bellmanford
st-link-analysis

gurobipy
gurobi_optimods